
body {
    background: var(--bg-url) no-repeat center center fixed;   

  }
/* Estilo personalizado para el botón del dropdown */
.navlink{
    color: white;
}
.dropdown{
    width: 140px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #110d17;
    background:  #8b77b9;
    border: 2px solid #3f305c;
    border-radius: 10px;

}

.dropdown:hover{
    transition: 1s all ease-in-out;
    
    box-shadow: 0px 0px 10px #eeeaf4;
    background: #6d56a1;
    color: #110d17;
    border: 3px solid #110d17;
    border-radius: 10px;    
}
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active {
    outline: none; /* Elimina el borde azul */
    box-shadow: none; /* Elimina cualquier sombra */
}


/*final de dorpdown*/